<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<springProperty name="LOG_PATH" source="logging.path"/>
    <!--将日志输出到滚动台配置-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender" >
        <layout class="ch.qos.logback.classic.PatternLayout" >
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36.36thread] [%-5level] [%-36.36logger{36}:%-4.4line] - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--将Info级别日志每天输出到文件 配置-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/info.log</file>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36.36thread] [%-5level] [%-36.36logger{36}:%-4.4line] - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--路径,在文件名中加入了时间-->
            <fileNamePattern>${LOG_PATH}/info.%d-%i.log.gz</fileNamePattern>
            <maxHistory>1000</maxHistory>
            <maxFileSize>100MB</maxFileSize> 
            <totalSizeCap>100GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--将error级别日志每天输出到文件 配置-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <!--过滤出error等级的日志，相当于只输出error级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-36.36thread] [%-5level] [%-36.36logger{36}:%-4.4line] - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径,在文件名中加入了时间-->
            <fileNamePattern>${LOG_PATH}/error.%d.log.gz</fileNamePattern>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
    </appender>


    <root level="error">
        <appender-ref ref="fileErrorLog"/>
    </root>
    <root level="debug">
        <appender-ref ref="fileInfoLog"/>
    </root>
    <root  level="debug">
        <appender-ref ref="consoleLog"/>
    </root>
</Configuration>